/* Navbar */
@use '../abstracts/variables';
.navbar {
  padding: 1.6rem 4.8rem .8rem;
  background: variables.$color-green;
  &__logo {
      margin-right: 3.2rem;
  }
  &__link {
      font-family: variables.$font-primary;
      color: variables.$color-white;
      font-weight: 400;
      font-size: variables.$font-size-small;
      margin-right: 1.6rem;
      text-transform: uppercase;
      &:hover {
          color: variables.$color-blue;
      }
  }
  &__icon {
      &--portfolio {
          height: 3.2rem;
          width: 3.2rem;
      }
  }

  &__social {
      color: variables.$color-white;
      font-size: variables.$font-size-medium;

      &-container:not(:last-child) {
          margin-right: 1.6rem;
      }


      &:hover {
          color: variables.$color-blue;
      }
  }
}

.container-fluid {
  padding: 0;
}
