/* Buttons */
@use '../abstracts/variables';
.btn {
  border-radius: 4rem;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  font-family: variables.$font-primary;
  text-transform: uppercase;
  padding: 1.2rem;
  padding-top: 1.6rem;
  width: 16rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 3.2rem;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 3.2rem;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.hero {
  &__button {
    background-color: variables.$color-white;
    color: variables.$color-blue;

    & span {
      color: variables.$color-blue;
    }

    & span:after {
      content: '☎️';
    }
  }
}

.page-preview {
  &__button {
      background-color: variables.$color-green-light;
      color: variables.$color-white;

    & span {
      color: variables.$color-white;
    }

    &--about span:after {
      content: '🖊️';
    }

    &--resume span:after {
      content: '📄';
    }

    &--portfolio span:after {
      content: '💼';
    }
  }
}
