/* Forms */
@use '../abstracts/variables';
.contact-form {
  padding: 8rem 4rem;
  padding-left: 33.6rem;
  display: inline-block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  &__info {
      padding: 4.8rem 5.6rem;
      display: inline-block;
      background: linear-gradient(161.18deg, variables.$color-green-light -9.31%, rgba(1, 107, 91, 0) 108.92%);
      filter: drop-shadow(0px 6px 20px rgba(37, 133, 154, 0.3));

        &-title,
        &-details {
            font-family: variables.$font-primary;
            color: variables.$color-white;
            font-weight: variables.$light;
            text-align: left;
            list-style: none;
        }
        &-title {
            font-size: variables.$font-size-medium;
            margin-bottom: 4.8rem;
        }
        &-details {
            font-size: variables.$font-size-small;
            &-container {
              margin: 0;
              padding: 0;
            }
        }
        &-details:not(:last-child) {
            padding-bottom: 2.4rem;
        }
        &-icon-details{
          margin-right: 1.6rem;
        }
  }

  &__container {
      margin-top: 25.6rem;
      text-align: center;
  }

  &__input,
  &__text-area {
    border: solid 2px gray;
  }

  &__input {
  }

  &__text-area {

  }
}
