/* Tabs */
@use '../abstracts/variables';

.nav-link {
  &-inactive,
  &-active {
    padding: .8rem 1.6rem;
    font-family: variables.$font-primary;
    font-size: variables.$font-size-small;
    font-weight: variables.$regular;
  }

  &-inactive {
    color: variables.$color-grey;
  }

  &-active {
    color: variables.$color-black !important;
    &--all {
      border-color:  variables.$color-green variables.$color-green variables.$color-white !important;
    }

    &--javascript {
      border-color:  variables.$color-yellow--javascript variables.$color-yellow--javascript variables.$color-white !important;
    }

    &--angular {
      border-color:  variables.$color-red--angular variables.$color-red--angular variables.$color-white !important;
    }

    &--react {
      border-color:  variables.$color-blue--react variables.$color-blue--react variables.$color-white !important;
    }

    &--nodejs {
      border-color:  variables.$color-green--node variables.$color-green--node variables.$color-white !important;
    }

    &--express {
      border-color:  variables.$color-orange--express variables.$color-orange--express variables.$color-white !important;
    }

    &--python {
      border-color:  variables.$color-blue--python variables.$color-blue--python variables.$color-white !important;
    }

    &--flask {
      border-color:  variables.$color-black--flask variables.$color-black--flask variables.$color-white !important;
    }

    &--sass {
      border-color:  variables.$color-pink--sass variables.$color-pink--sass variables.$color-white !important;
    }

    &--bootstrap {
      border-color:  variables.$color-purple--bootstrap variables.$color-purple--bootstrap variables.$color-white !important;
    }
  }
}
