<!-- <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 text-center portfolio-project__container">
      <img src="../../../assets/images/previous-projects/images/qwikwire-landing-page.gif" alt="">
      <h1 class="portfolio-project__title">Qwikwire's Landing Page</h1>
      <h2 class="portfolio-project__technologies">AngularJS 1.6 | Angular Material | HTML | CSS</h2>
      <p class="portfolio-project__description">Qwikwire’s revamped landing page which was designed and organized to allow the visitor to understand Qwikwire’s business model efficiently in a single page website.</p>
      <div class="row ">
        <div class="col">
          <a href="#" class="portfolio-project__button portfolio-project__button--project btn"><span>Website</span></a>
          <a href="#" class="portfolio-project__button portfolio-project__button--code btn"><span>Code</span></a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div>
  <app-item
    *ngFor="let project of projects"
    [project]="project">
  </app-item>
</div>
