<div class="contact-form__container">
  <div class="contact-form__info">
    <h1 class="contact-form__info-title">
      Contact
    </h1>
    <ul class="contact-form__info-details-container">
      <li class="contact-form__info-details">
        <span><i class="fas fa-map-marker-alt contact-form__info-icons"></i>Bowie, Maryland</span>
      </li>
      <li class="contact-form__info-details">
        <span><i class="fas fa-phone contact-form__info-icons"></i>(610) 579-1888</span>
      </li>
      <li class="contact-form__info-details">
        <span><i class="fas fa-envelope contact-form__info-icons"></i>lawrence.dovin@hotmail.com</span>
      </li>
    </ul>
    <ul class="contact-form__social-container">
      <li class="contact-form__social">
        <a href="https://www.linkedin.com/in/lawrence-dovin/" target="_blank" rel="noreferrer">
          <i class="bi bi-linkedin contact-form__social-icons contact-form__social-icons"></i>
        </a>
      </li>
      <li class="contact-form__social">
        <a href="https://www.linkedin.com/in/lawrence-dovin/" target="_blank" rel="noreferrer">
          <i class="bi bi-github contact-form__social-icons"></i>
        </a>
      </li>
    </ul>
  </div>
  <form class="contact-form">
    <h1>Get in Touch!</h1>
    <span>Feel free to <i class="fas fa-envelope contact-form__info-icon-details"></i> a Message</span>
      <input type="text" class="contact-form__input form-control" placeholder="Your Name*">
      <input type="text" class="contact-form__input form-control" placeholder="Your Email*">
      <textarea class="contact-form__text-area form-control" placeholder="Your Message*"></textarea>
    <button class="contact-form__button btn">SEND MESSAGE</button>
  </form>
</div>
