<div class="row hero__container--preview">
  <div class="col-md-4 hero__item--preview">
    <div class="hero__image-container--preview">
      <!-- <img src={process.env.PUBLIC_URL + 'logo192.png'} class="hero__image--preview" alt="mountains"/> -->
    </div>
    <a href="/" class="hero__button--preview hero__button--preview-about btn"><span>About</span></a>
  </div>
  <div class="col-md-4 hero__item--preview">
    <div class="hero__image-container--preview">
      <img src="/assets/images/angular-logo.png" class="hero__image--preview" alt="logo"/>
    </div>
    <a href="/" class="hero__button--preview hero__button--preview-resume btn"><span>Resume</span></a>
  </div>


  <div class="col-md-4 hero__item--preview">
    <div class="hero__image-container--preview">
      <!-- <img src={process.env.PUBLIC_URL + 'logo192.png'} class="hero__image--preview" alt="mountains"/> -->
    </div>
    <a href="/" class="hero__button--preview hero__button--preview-portfolio btn"><span>Portfolio</span></a>
  </div>
</div>
